:root {
  /* Stylish */
  --background-texture: url(./assets/noise-50percent.png);
  --white-color: #EFEFEF;
  --black-color: #00261f;
  --gray-color: #AAAAAA;
  --black-shadow: rgba(0, 38, 31, .2);
  --primary-color: #00FFCC;
  --secondary-color: #00B4DC;
  --complement-color: #00DCCA;
  --around-corners-15: 15px;
  --around-corners-10: 10px;
  --big-font-size: 24px;
  --normal-xx-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 12px;
  --transitions-time: 250ms;
  --xsmall-row-gap: 5px;
  --small-row-gap: 15px;
  --bigger-row-gap: 35px;
  --max-input-height: 49px;
}

@font-face {
  font-family: "Roboto Regular";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(fonts/roboto/Roboto-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  text-align: left;
  list-style: none;
}

a, a:visited {
    color: var(--black-color);
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--white-color);
  background-image: linear-gradient(
    -55deg,
    rgba(0,220,202,1) 0%,
    rgba(255,255,255,0) 35%,
    rgba(255,255,255,0) 65%,
    rgba(0,255,204,1) 100%
    );
  background-position: center;
  background-size: 200%;
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-size: var(--normal-font-size);
  text-align: center;
  color: var(--black-color);
  position: relative;
  transition: background-size 1s linear;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

@media screen and (min-width: 1200px) {
  body {
    background-size: 150%;
  }
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(./assets/noise-50percent.png);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}