.main {
    max-width: 500px;
    width: 100svh;
    min-height: 100svh;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--bigger-row-gap);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-font-size);
}

.logo {
    width: 250px;
}

.presentations {
    text-align: center;
}

.separator {
    width: 100%;
    opacity: 30%;
    border: 0;
    border-top: 1px solid var(--black-color);
}

.button {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

.btn-filled {
    background-color: var(--primary-color);
    background-image: linear-gradient(135deg, var(--primary-color) 20%, var(--secondary-color) 60%);
    background-size: 200%;
    background-position-x: left;
    transition: background-position 100ms linear;
    border-radius: var(--around-corners-15);
}

.btn-filled:hover {
    background-position-x: right;
    text-decoration: none;
}

.btn-outline {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(var(--white-color), var(--white-color)) padding-box,
        linear-gradient(135deg, var(--primary-color) 40%, var(--secondary-color) 60%) border-box;
    border: 2px solid transparent;
    border-radius: var(--around-corners-15);
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--small-font-size);
}

.menu .button{
    padding: 15px 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
}

.project-card {
    width: 100%;
    max-width: 420px;
    background: #ffffff;
    border-radius: var(--around-corners-10);
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100px;
    background-color: #d9d9d9;
}

.project-infos {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    padding: 15px;
}

.footer {
    font-size: var(--small-font-size);
}