.label input[type="checkbox"] {
    appearance: none;
    width: calc(var(--max-input-height));
    height: calc(var(--max-input-height) / 2 - 4px);
    padding: 0;
    position: relative;
    background-color: var(--white-color);
    background-image: var(--background-texture);
    background-position: center;
    outline: 1px solid var(--gray-color);
    border: 1px solid var(--white-color);
}

.label input[type="checkbox"]::after {
    --thump-size: calc(var(--max-input-height) / 3);
    --thump-center-position: calc(50% - var(--thump-size) / 2);
    content: '';
    width: var(--thump-size);
    height: var(--thump-size);
    display: block;
    position: absolute;
    top: var(--thump-center-position);
    background: linear-gradient(0deg,
            var(--gray-color),
            var(--white-color));
    border-radius: 100%;
    transform: translateX(0);
    transition:
        transform var(--transitions-time) linear,
        background var(--transitions-time) linear;
}

.label input[type="checkbox"]:checked {
    background: linear-gradient(180deg,
            var(--primary-color),
            var(--complement-color));
}

.label input[type="checkbox"]:checked::after {
    background: linear-gradient(180deg,
            var(--complement-color),
            var(--secondary-color));
    transform: translateX(calc(300% - var(--thump-size) - 2px));
}