label {
    position: relative;
}

label span {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition-property: left, top, padding color;
    transition-duration: var(--transitions-time);
    transition-timing-function: linear;
}

input {
    /* reset */
    border: none;
    background-color: transparent;
    appearance: none;

    /* structure */
    width: 100%;
    height: 100%;
    padding: 1rem;

    /* style */
    border-radius: var(--around-corners-10);
    outline: 1px solid var(--gray-color);
    font-size: 1rem;
    transition-property: background outline;
    transition-duration: var(--transitions-time);
    transition-timing-function: linear;
}

input:focus~span,
input:valid~span,
input:not(:placeholder-shown)~span {
    padding: 0 .3rem;
    top: -.6rem;
    left: .7rem;
    background: var(--white-color) var(--background-texture) center;
}

input:valid {
    outline-color: var(--complement-color);

    &~span {
        color: var(--complement-color);
    }
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--invalid-color);

    &~span {
        color: var(--invalid-color);
    }
}

input[type="checkbox"] {
    --checkbox-width: calc(var(--max-input-height) / 3 * 2);
    --checkbox-height: 10px;

    /* reset from input */
    padding: 0;
    margin-right: 1rem;

    /* structure */
    appearance: none;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    position: relative;

    /* style */
    background-color: var(--white-color);
    background-image: var(--background-texture);
    background-position: center;
    border: 1px solid var(--white-color);
    cursor: pointer;
}

label input[type="checkbox"]:invalid {
    outline-color: var(--gray-color);
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}

input[type="checkbox"]::before {
    --thumb-height: calc(var(--max-input-height) / 2);

    content: '';
    display: block;
    width: calc(var(--thumb-height) - 3px);
    height: calc(var(--thumb-height) - 3px);
    position: absolute;
    left: 0;
    top: calc((var(--checkbox-height) - var(--thumb-height)) / 2);
    transform: translateX(-50%);

    /* Style */
    background-color: var(--gray-color);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, .3);
    border-radius: 100%;
    transition: all var(--transitions-time) linear;
}

input[type="checkbox"]:checked::before {
    background-color: var(--primary-color);
    transform: translateX(100%);
}

label input[type="checkbox"]:invalid~span,
label input[type="checkbox"]~span {
    /* Input reset from  */
    position: unset;
    left: unset;
    right: unset;
    padding: unset;
    color: inherit;
}